
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.traffic-light-container {
    width: 100px;
    margin: 50px auto;
    padding: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.light {
    width: 80px;
    height: 80px;
    margin: 15px 0;
    border-radius: 50%;
    background-color: gray;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.light.red {
    background-color: #660000;
}

.light.yellow {
    background-color: #666600;
}

.light.green {
    background-color: #006600;
}

.light.glow.red {
    background-color:red;
    box-shadow: 0 0 80px rgb(236, 240, 5);
}

.light.glow.yellow {
    background-color: yellow;
    box-shadow: 0 0 80px rgb(236, 240, 5);
}

.light.glow.green {
    background-color: green;
    box-shadow: 0 0 80px rgb(236, 240, 5);
}